.example-spacer {
  flex: 1 1 auto;
}
.navclass {
  background-color: red;
  color: white;
  position: sticky;
}
.title {
  width: 100%;
  text-align: center;
}
.recents {
  background-color: rgb(24, 23, 23);
  height: 100%;
  color: azure;
  position: relative;
}
